[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
sanic = "==20.12.7"
click = "*"
tortoise-orm = "*"
aiomysql = "*"
ipython = "*"

[requires]
python_version = "3.7"
