[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
tortoise-orm = "*"
click = "*"
aiomysql = "*"

[requires]
python_version = "3.6"
